<% include ./template.ejs %>

<!-- write you all code here -->
<div id="main" class="text-center">
    <h2>Directory View</h2> <br>
    <div class="table-responsive">
        <table class="table display table-bordered" id="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone #</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <% employees.forEach(function(employee) { %>
            <tr>
                <td><%= employee.name %></td>
                <td><%= employee.designation %></td>
                <td><%= employee.email %></td>
                <td><%= employee.phone %></td>
                <td><%= employee.address %></td>

            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<br><br>

<% include footer.ejs %>
<script type="text/javascript">
    $(function () {

        var start = moment().subtract(0, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Tomorrow': [moment().add(1, 'days'), moment().add(1, 'days')],
                'Next 7 Days': [moment().add(1, 'days'), moment().add(7, 'days')]
            }
        }, cb);

        cb(start, end);

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });

</script>
