<% include ./template.ejs %>

<!-- write you all code here -->
<div id="main" class="text-center">
    <h2>Directory View</h2> <br>
    <div class="table-responsive">
        <table class="table display table-bordered" id="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Phone #</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <% employees.forEach(function(employee) { %>
            <tr>
                <td><%= employee.name %></td>
                <td><%= employee.designation %></td>
                <td><%= employee.email %></td>
                <td><%= employee.phone %></td>
                <td><%= employee.address %></td>

            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<br><br>

<% include footer.ejs %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
