<% include ./template.ejs %>

<div id="main">
    <div class="row">
        <!-- Boxes de Acoes -->
        <% modules.forEach(function(module) { %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-code"></i></div>
                    <div class="info">
                        <input id="module<%= module.id %>" value="<%= module.id %>" hidden>
                        <h3 id="title<%= module.id %>" class="title"><%= module.moduleName %></h3>
                        <p id="description<%= module.id %>">
                            <%= module.description %>
                        </p>
                        <% if(user.rank == 'admin') { %>
                        <div class="more">
                            <button id="<%= module.id %>" class="btn btn-info" title="edit"
                                    onclick="editModule(this.id)">
                                Edit <i class="fa fa-pencil-square-o"></i>
                            </button>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        <% }); %>
    </div>

    <div id="edit" class="collapse">
        <hr>
        <h2 class="text-center">Edit Module</h2>
        <div class="row text-left">
            <div class=" col-md-offset-4 col-md-4">
                <form action="/company/modules/update" method="post" id="update_module_form">
                    <label class="alert alert-danger btn-block text-center"></label>
                    <input type="text" value="" id="moduleID" name="moduleId" hidden>
                    <label>Title</label>
                    <input class="form-control" type="text" name="moduleName" id="title">
                    <label>Description</label>
                    <textarea class="form-control" id="description" name="description"></textarea>
                    <input type="submit" value="Update" class="form-control btn-success">
                </form>
            </div>
        </div>

    </div>
    <br><br>
</div>

<!-- Add new module modal -->

<div class="modal fade" id="add-new-module" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container extra-large">
            <h1>Add New Module</h1><br>
            <form action="/company/modules/new" method="post" id="new-module">
                <lable>Title</lable>
                <input type="text" name="moduleName" class="form-control" placeholder="Title">
                <lable>Description</lable>
                <textarea type="text" name="description" class="form-control" placeholder="Description"></textarea>
                <input type="submit" class="form-control btn-success" value="Add Module">
            </form> <!-- end of form -->
            <br>
        </div>
    </div>
</div>

<!-- End of add module modal -->

<% include ./footer.ejs %>
<script>
    function editModule(id) {
        $('#edit').addClass('in');
        $('#moduleID').val(id);
        $('#title').val(document.getElementById('title' + id).innerHTML);
        $('#description').val((document.getElementById('description' + id).innerHTML).trim());
        console.log($('#moduleID').val());
    }
</script>